git_branch() {
	ref=$(git symbolic-ref HEAD | cut -d'/' -f3)
	echo $ref
}

prompt_git() {
	if git branch >/dev/null 2>/dev/null; then
		#echo "± [$(git_branch)]"
		echo "±"
	else
		#echo ""
		echo "%#"
	fi
}

setprompt() {
	#PROMPT="(%n@%F{red}%m%f)%{%F{cyan}%} %~%f %{%F{yellow}%}$(prompt_git)%f"$'\n%F{blue}➔ %#%f '
	PROMPT="%F{cyan}%~%f %F{white}$(prompt_git)%f "
}


precmd () {
	setprompt
}

mke() {
	mkdir -p "$1" && cd "$1"
}

ws() {
	ia () {
		if pidof "$1" > /dev/null
		then
			echo -e "[\033[1;32mON\033[0m]  $2"
		else
			echo -e "[\033[1;31mOFF\033[0m] $2"
		fi
	}

	ia httpd Apache
	ia mysqld MySQL
}
