!URxvt*.transparent: true
!URxvt*.shading: 1
URxvt.scrollBar: false
URxvt.geometry: 180x60
!URxvt.geometry: 85x27
URxvt.depth: 32

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.borderless: 1
URxvt.saveLines: 5000
URxvt.termName: rxvt-256color
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.cursorBlink: 1

URxvt.iso14755: true
URxvt.iso14755_52: false

URxvt.letterSpace: -1

URxvt.internalBorder: 4

URxvt.urgentOnBell: True

URxvt*font: xft:SFMono:size=9:antialias=true:autohint=true
URxvt*boldFont: xft:SFMono:bold:size=9:antialias=true:autohint=true
URxvt*italicFont: xft:SFMono:italic:size=9:antialias=true:autohint=true
URxvt*bolditalicFont: xft:SFMono:bold:italic:size=9:antialias=true:autohint=true

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! special
*.foreground:   #d9c5a2
*.background:   #1a2226
*.cursorColor:  #d9c5a2

! black
*.color0:       #1a2226
*.color8:       #246480

! red
*.color1:       #d46120
*.color9:       #ee7f41

! green
*.color2:       #43694b
*.color10:      #71987a

! yellow
*.color3:       #dddd5f
*.color11:      #ede594

! blue
*.color4:       #22978c
*.color12:      #4dd1c7

! magenta
*.color5:       #ff5879
*.color13:      #ff99a1

! cyan
*.color6:       #5f4b73
*.color14:      #b9a5cc

! white
*.color7:       #d9c5a2
*.color15:      #efe7d8
