!URxvt*.transparent: true
URxvt*.shading: 10
URxvt.scrollBar: false
URxvt.geometry: 180x60
!URxvt.geometry: 85x27
URxvt.depth: 32

URxvt.perl-ext-common: font-size

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.borderless: 1
URxvt.saveLines: 5000
URxvt.termName: rxvt-256color
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.cursorBlink: 1

URxvt.iso14755: true
URxvt.iso14755_52: false

! URxvt.letterSpace: -1

URxvt.internalBorder: 13

URxvt.urgentOnBell: True

!URxvt*font: xft:Fantasque Sans Mono:size=11:antialias=true:autohint=true
!URxvt*boldFont: xft:Fantasque Sans Mono:bold:size=11:antialias=true:autohint=true
!URxvt*italicFont: xft:Fantasque Sans Mono:italic:size=11:antialias=true:autohint=true
!URxvt*bolditalicFont: xft:Fantasque Sans Mono:bold:italic:size=11:antialias=true:autohint=true

URxvt*font: xft:Tamsyn:size=8

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! special
*.foreground:   #bdbbb3
*.background:   #0B1617

*.cursorColor:  #bdbbb3

! black
*.color0:       #172e30
*.color8:       #316266

! red
*.color1:       #bc2645
*.color9:       #d6405f

! green
*.color2:       #739ca7
*.color10:      #89bac7

! yellow
! *.color3:       #c6b07d
! *.color11:      #dec790

*.color3:       #CCAC62
*.color11:      #E6C26E

! blue
*.color4:       #305568
*.color12:      #40718a

! magenta
*.color5:       #6A5778
! 9278a6
*.color13:      #876F99
! ae8fc6


!9A79B5
! cyan
*.color6:       #a37693
! #305568
*.color14:      #c790b3
! 40718a

! white
*.color7:       #9c9a93
*.color15:      #bdbbb3
